*.bk
*.swp
*.pyc
*__pycache__
bashfulbytes.com/posts
bashfulbytes.com/posts_md
bashfulbytes.com/pages
bashfulbytes.com/pages_md
bashfulbytes.com/ethics
bashfulbytes.com/ethics_md
*.html
*.xml
*.asc
*.swo
*.m4a
bashfulbytes.com/hidden
