
{% extends "base.html" %}
{% block content %}
<span class="label label-primary">2016-06-23</span>
<span class="label label-info">research</span>
<h1>Object vs Block vs File Level Storage Protocols</h1>

<p>For the past four weeks, I have been at IBM Research digging 
down deep into the wild depth that is cloud storage. Before my 
internship, the closest I got to cloud computing was learning 
about computer networking, and I never imagined myself spending 
8+ hours a day working on cloud storage systems. Well, flash forward 
to the current time, where I am so close to file level storage that 
I actually have to consult an engineer that implemented some 
major capabilities of the NetApp filers, because documentation 
only reaches so far.  </p>

<p>Well, what exactly <em>is</em> file level storage? If there's a <em>file</em> 
protocol, are there other protocols? Why do we need more than 
one storage protocol? And what is this 'NetApp' filer I 
mentioned? Let's get into it.</p>

<h3>Object Storage</h3>

<p>What is this?  </p>

<h3>Block Storage</h3>

<p>What is <em>this</em>?  </p>

<h3>File Storage</h3>

<p>What is <em>this</em>?  </p>

{% endblock %}
