
{% extends "base.html" %}
{% block content %}
<span style="float:right;" class="label label-primary">2016-06-23</span>
<span style="float:right;" class="label label-info">linux</span>
<h1>Expect: The Unix Tool</h1>

<p>CLI automation is nothing new. Linux users and programmers 
have been automating mindless tasks ever since the 
beginning of time (... maybe an exaggeration). However,
I had never come across a tool <em>dedicated</em> to automating 
interactive commandline tasks and programs. Meet Expect- a 
tool for exactly that. </p>

<h3> </h3>

{% endblock %}
