
{% extends "base.html" %}
{% block content %}
<h2>Create Your Own Static Website Generator</h2>

<h3>What is a Static Site Generator?</h3>

<p>Soon, this will have some words about what exactly this
thing is.</p>

<h3>Choosing a Static Site Generator</h3>

<p>Soon, this will talk through the differences and similarities
of the major static site generators of the current world.</p>

<h3>Creating You Own Static Site Generator</h3>

<p>If those don't please you, this will give a slight roadmap
on how to create your own simple static site generator.</p>

<h3>How This Site Was Born</h3>

<p>This will eventually explain the steps it took for me to get to
this blog, and how I created it and why.</p>

{% endblock %}
