{% extends "base.html" %}
{% block recent %}
<p><a href="./posts/latex.html">Beauty of LaTex</a><br />
<a href="./posts/cloudstorage.html">Object vs Block vs File Storage Systems</a><br />
<a href="./posts/hardware4cs.html">Why Hardware Knowledge is Important in Computer Science Education</a><br />
<a href="./posts/dublincoffee.html">Best Coffee in Dublin</a><br />
<a href="./posts/expect.html">Expect: The Unix Tool</a>  </p>
{% endblock %}
{% block research %}
<p><a href="./posts/cloudstorage.html">Object vs Block vs File Storage Systems</a>  </p>
{% endblock %}
{% block programming %}
<p><a href="./posts/staticsitegenerator.html">Create Your Own Static Site Generator</a>  </p>
{% endblock %}
{% block linux %}
<p><a href="./posts/expect.html">Expect: The Unix Tool</a>  </p>
{% endblock %}
{% block random %}
<p><a href="./posts/playlist.html">Current Playlist</a>  </p>
{% endblock %}
{% block unfinished %}
<p><a href="./posts/PLDI16.html">PLDI 2016</a><br />
<a href="./posts/ronfagin.html">Ron Fagin Event: SIGMOD/PODS 2016</a><br />
<a href="./posts/TAing.html">My Experiences as an Undergraduate TA</a><br />
<a href="./posts/latex.html">Beauty of LaTex</a><br />
<a href="./posts/expletive.html">Expletive</a><br />
<a href="./posts/ubuntu_v_arch.html">Ubuntu vs Arch Linux</a><br />
<a href="./posts/hardware4cs.html">Why Hardware Knowledge is Important in Computer Science Education</a><br />
<a href="./posts/dublincoffee.html">Best Coffee in Dublin</a>  </p>
{% endblock %}