
{% extends "base.html" %}
{% block recent %}
<p><a href="./posts/templates/test4.html">Test 4</a><br />
<a href="./posts/templates/test5.html">Fifth Test</a><br />
<a href="./posts/templates/test6.html">Sixth Test</a>  </p>
{% endblock %}
{% block research %}

{% endblock %}
{% block programming %}

{% endblock %}
{% block random %}
<p><a href="./posts/templates/test6.html">Sixth Test</a><br />
<a href="./posts/templates/test.html">Initial Test</a><br />
<a href="./posts/templates/test2.html">Test 2</a><br />
<a href="./posts/templates/test3.html">Test 3</a><br />
<a href="./posts/templates/test1.html">Test 1</a><br />
<a href="./posts/templates/test4.html">Test 4</a><br />
<a href="./posts/templates/test5.html">Fifth Test</a>  </p>
{% endblock %}
