
{% extends "base.html" %}
{% block recent %}
<p><a href="./posts/PLDI16.html">PLDI 2016</a><br />
<a href="./posts/playlist.html">Current Playlist</a><br />
<a href="./posts/cloudstorage.html">Object vs Block vs File Storage Systems</a><br />
<a href="./posts/expletive.html">Expletive</a><br />
<a href="./posts/staticsitegenerator.html">Create Your Own Static Site Generator</a>  </p>
{% endblock %}
{% block research %}

{% endblock %}
{% block programming %}

{% endblock %}
{% block linux %}

{% endblock %}
{% block random %}

{% endblock %}
